<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">
<title>Product</title>

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/vaadin-material-theme/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="techuiapp-product">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .details {
        padding: 10px;
        margin: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
        font-size: 20px;
      }

      table.detailstable{
        font-family: var(--material-font-family);
        font-size: 13px;
        color: var(--material-body-text-color);
        margin-top: 0px;
        margin-bottom: 0px;
        align-self: flex-start;
      }

      paper-button {
        color: black;
        padding: 0px;
        margin: 0px;
        height: 70px;
      }

      iron-icon{
        --iron-icon-fill-color: black;
      }

    </style>
      <div class="innercard">
        <div>
          <paper-button on-tap="collapse">
            <iron-icon id="productIcon" icon="icons:account-balance-wallet"></iron-icon> 
            <h3>[[product.description]]:</h3>
            <h3 id="balance" class="green">&nbsp;[[product.balance]]&nbsp;[[product.currency]]</h3>                                   
          </paper-button>
       </div>

       <x-data-provider data-provider="{{product.listado}}"></x-data-provider>

          <iron-collapse id="collapse">
          <vaadin-grid id="grid" on-active-item-changed="_onActiveItemChanged" aria-label="List" items="[[product.listado]]">  
            
              <template class="row-details">
                  <div class="details">          
                    <table class="detailstable">                         
                      <tr>
                        <td>
                          <paper-button>
                              <iron-icon icon="icons:attachment"></iron-icon> 
                              <h2><a href="[[item.documentUrl]]" target="_blank">Transaction info</a></h2>                                                                 
                          </paper-button>
                        </td>  
                      </tr>
                      <tr>
                        <td><img src="[[serverproxyurl]]/maps?latitude=[[item.latitude]]&longitude=[[item.longitude]]"></img></td>
                      </tr>                           
                    </table>
                  </div>
                </template>    
        

            <vaadin-grid-column width="60px" flex-grow="0">
                <template class="header">
                    <vaadin-grid-sorter path="id" direction="desc">Id</vaadin-grid-sorter>
                </template>
              <template>[[item.id]]</template>              
            </vaadin-grid-column>
      
            <vaadin-grid-column>
              <template class="header">Date</template>
              <template>[[item.date]]</template>
            </vaadin-grid-column>  
            
            <vaadin-grid-column>
                <template class="header">Amount</template>
                <template>[[item.amount]][[item.currency]]</template>
              </vaadin-grid-column>
      
            <vaadin-grid-column>
                <template class="header">
                    <vaadin-grid-filter aria-label="Description" path="description" value="[[_description]]">
                        <input placeholder="Description" value="{{_description::input}}" focus-target>
                    </vaadin-grid-filter>
                </template>
                <template>[[item.description]]</template>
              </vaadin-grid-column>
        
          </vaadin-grid>
                      
        </iron-collapse> 
        </div>

  </template>

  <script>
    class Product extends Polymer.Element {
      static get is() { return 'techuiapp-product'; }

      static get properties() {
        return { 
            serverurl: {
                type: String
            },   
            serverproxyurl: {
                type: String
            },        
            product: {
                type: Object,
                observer: '_productChanged'
            },
            selectElement:{
              type: Object
            }
          }                    
      }
    

      _productChanged (){        
        if(Number(this.product.balance) < 0){
          this.$.balance.classList.remove('green');
          this.$.balance.classList.add('red');
        }else{
          this.$.balance.classList.remove('red');
          this.$.balance.classList.add('green');
        }

        //change product card type icon
        if(this.product.description != "Account"){
          this.$.productIcon.icon = "icons:credit-card";
        }

      }

      collapse (){
        console.log("trigger collapse account");
        this.$.collapse.toggle();
      } 

      _onActiveItemChanged(e) {
          //close details
          this.$.grid.closeItemDetails(this.selectElement);

          //open new details
          if(e != null){            
              this.$.grid.openItemDetails(e.detail.value);
              this.selectElement = e.detail.value;
          }
        
        }

    }

    window.customElements.define(Product.is, Product);
  </script>
</dom-module>
