<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">
<title>Bank</title>

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../shared-styles.html">

<link rel="import" href="techuiapp-account.html">

<dom-module id="techuiapp-bank">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
      }

      .collapse-content {
        padding: 70px;
        border: 1px solid #f8f2f2;
      }

      .innercard {
        color: #757575;
        border-radius: 5px;
        background-color: lightgrey;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding-top: 5px;
        padding-left: 10px;
      }
  

      paper-button {
          color: black;
          padding: 0px;
          margin: 0px;
          height: 40px;
      }

      iron-icon{
        --iron-icon-fill-color: black;
      }

    </style>

     <!-- https://www.webcomponents.org/element/GoogleWebComponents/google-chart/elements/google-chart -->

      <div class="innercard">
        <div>
          <paper-button on-tap="collapse"><iron-icon icon="icons:account-balance"></iron-icon> 
            <h3>&nbsp;&nbsp;[[bank.name]]:</h3> 
            <h3 id="balance" class="green">&nbsp;[[bankBalance]]&nbsp;€</h3>
            <iron-icon id="warning" icon="icons:warning" class="red" hidden="true"> 
          </paper-button>                    
        </div>
        <iron-collapse id="collapse">
          <div>
            <template is="dom-repeat" items="{{bank.accounts}}" as="account">
              <techuiapp-account serverurl="[[serverurl]]" serverproxyurl="[[serverproxyurl]]" account="{{account}}"></techuiapp-account>  
            </template>
          </div>
        </iron-collapse>        
      </div>
  </template>

  <script>
    class Bank extends Polymer.Element {
      static get is() { return 'techuiapp-bank'; }

      static get properties() {
        return { 
            serverurl: {
                type: String
            },  
            serverproxyurl: {
                type: String
            },         
            bank: {
                type: Object,
                observer: '_bankChanged',
            },
            bankBalance:{
              type: Number,
              value: 0
            }
          }                    
      }
    

      _bankChanged (){
        this.bankBalance = 0;
        console.log("bank changed:" + this.bank.name);
        var i = 0;  
        var warning = false;      
        while (this.bank.accounts[i] != undefined){
          var j = 0;
          var account = this.bank.accounts[i];
          while (account.products[j] != undefined){
            //update balance and warnings
            warning = (Number(account.products[j].balance) <0) || warning;
            this.bankBalance = this.bankBalance + Number(account.products[j].balance);
            j++;
          }
          i++;
        }

        this.$.warning.hidden = !warning;

        if(this.bankBalance < 0){
          this.$.balance.classList.remove('green');
          this.$.balance.classList.add('red');
        }else{
          this.$.balance.classList.remove('red');
          this.$.balance.classList.add('green');
        }
      }

      collapse (){
        console.log("trigger collapse bank");
        this.$.collapse.toggle();
      }      
    }

    window.customElements.define(Bank.is, Bank);
  </script>
</dom-module>
