<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">
<title>Transactions</title>

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/vaadin-material-theme/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="/bower_components/vaadin-grid/vaadin-grid-filter.html">
<link rel="import" href="/bower_components/geo-location/geo-location.html">
<link rel="import" href="shared-styles.html">


<dom-module id="techuiapp-transactions">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      paper-button {
          background-color:  #4285f4;
          color: white;
      }

      paper-button.red {
          background-color:  #f5508f;
          color: white;
      }

      paper-button:hover {
          background-color:  #55f32da8;
          color: black;
      }

      iron-icon{
        --iron-icon-fill-color: white;
      }
    </style>


     <iron-ajax
        auto
        id="requestTransactions"            
        url="[[serverurl]]/movimientos?id=[[userid]]";
        method="GET"
        handle-as="json"
        on-response="transactionsResponse"
        debounce-duration="300">
      </iron-ajax>

      <iron-ajax
        id="deleteTransaction"            
        url="[[serverurl]]/movimientos?_id=[[selectElement._id]]";
        method="DELETE"
        handle-as="json"
        on-response="deleteResponse"
        debounce-duration="300">
      </iron-ajax>

      <iron-ajax        
        id="requestAccountsPending"            
        url="[[serverurl]]/movimientosPending?id=[[userid]]";
        method="GET"
        handle-as="json"
        on-response="accountsPendingResponse"
        debounce-duration="300">
      </iron-ajax>

      <iron-ajax        
        id="modifyAccountsPending"            
        url="[[serverurl]]/movimientosPending?id=[[accountsResultPending._id.$oid]]";
        method="PUT"
        content-type="application/json"
        on-response="modifyAccountsPendingResponse"
        debounce-duration="300">
      </iron-ajax>


    <geo-location latitude="{{latitude}}" longitude="{{longitude}}"></geo-location>

    <div class="card">
      <table><tr>
      <td><paper-button raised on-tap="sendRequestTransactions"><iron-icon icon="icons:refresh"></iron-icon>Refresh</paper-button></td>
      <td><h3>{{confirmationResult}}</h3></td>
      </tr></table>
      <div>                               
                <vaadin-grid id="grid" on-active-item-changed="_onActiveItemChanged" aria-label="List" items="{{transactionsResult}}" multi-sort="true">                                  
            
                    <template class="row-details">
                        <div class="details">          
                            <paper-button raised on-tap="sendAddTransaction"><iron-icon icon="icons:cloud-upload"></iron-icon>Confirm</paper-button>
                            <paper-button raised on-tap="deleteTransaction" class="red"><iron-icon icon="icons:delete-forever"></iron-icon>Delete</paper-button>
                        </div>
                    </template> 

                    <vaadin-grid-column>
                        <template class="header">
                            <vaadin-grid-sorter path="_id" direction="desc">Id</vaadin-grid-sorter>
                        </template>
                        <template>[[item._id]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column>
                        <template class="header">
                            <vaadin-grid-sorter path="bank">Bank</vaadin-grid-sorter>
                        </template>
                        <template>[[item.bank]]</template>
                    </vaadin-grid-column>                            
        
                    <vaadin-grid-column>
                        <template class="header">
                            <vaadin-grid-sorter path="productdescription">Product</vaadin-grid-sorter>
                        </template>
                        <template>[[item.productdescription]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column>
                        <template class="header">
                            <vaadin-grid-sorter path="amount">Amount</vaadin-grid-sorter>
                        </template>
                        <template>[[item.amount]][[item.currency]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column>
                            <template class="header">
                                <vaadin-grid-filter aria-label="Description" path="description" value="[[_description]]">
                                    <input placeholder="Description" value="{{_description::input}}" focus-target>
                                </vaadin-grid-filter>
                            </template>
                        <template>[[item.description]]</template>
                    </vaadin-grid-column>
                </vaadin-grid>
        </div>
      
    </div>

    
  </template>

  <script>
    class Transactions extends Polymer.Element {
      static get is() { return 'techuiapp-transactions'; }

      static get properties() {
        return {
            serverurl: {
                type: String
            },
            serverproxyurl: {
                type: String
            }, 
            transactionsResult: {
                type: Array,
                value: []
            },
            userid: {
                type: String,
                value: ''
            },
            message: {
                type: String,
                value: ''
            },
            selectElement:{
              type: Object
            },
            accountsResultPending: {
                type: Object
            },
            confirmationResult:{
                type: String,
                value: ""
            },
            latitude:{
                type: Number
            },
            longitude:{
                type: Number
            },
            documentUrl:{
                type: String,
                value: "Not found"
            }
          }                    
      }


      sendRequestTransactions (){
        //accounts request             
        this.confirmationResult = "";    
        this.$.requestTransactions.generateRequest();
      }

      //recover bank data
      sendAddTransaction (){
        this.$.requestAccountsPending.generateRequest();
      }

      accountsPendingResponse(response) {
          const accountsResponse = this.$.requestAccountsPending.lastResponse;
          if(accountsResponse[0] != null){
              this.accountsResultPending = accountsResponse[0]; 
              //add new transaction data
              this.addTransaction();        
          }else{
              this.message = "There is no banks info associated with your account";                 
          }          
      } 

      addTransaction(){
        this.confirmationResult = "";
        var banks = this.accountsResultPending.banks;
        var bank;
        for (var i = 0; i < banks.length; i++) {
           if(banks[i].name == this.selectElement.bank){
             bank = banks[i];
             //console.log("banco encontrado: " + bank.name);
             for (var j = 0; j < bank.accounts.length; j++){
                if(bank.accounts[j].id  == this.selectElement.account){ 
                   var account= bank.accounts[j];
                   //console.log("account encontrado: " + account.id);                   
                    for (var k = 0; k < account.products.length; k++) {
                        if(account.products[k].id  == this.selectElement.product){ 
                            var product= account.products[k];
                            //update product balance
                            product.balance = Number(product.balance) + Number(this.selectElement.amount);
                            console.log(account.products[k]);
                            //obtain user cordinates
                            this.showPosition();
                            const newMovement = {
                                ["id"]:account.products[k].listado.length + 1,
                                ["amount"]: this.selectElement.amount,
                                ["currency"]: this.selectElement.currency,
                                ["date"]: this.obtainDate(),
                                ["description"]: this.selectElement.description,
                                ["transactionId"]: this.selectElement._id,
                                ["latitude"]: this.latitude,
                                ["longitude"]: this.longitude,
                                ["documentUrl"]: this.obtainDocumentUrl()
                                
                            }
                            product.listado.push(newMovement);
                            
                            const bodyData = {
                                ["id"]: this.accountsResultPending.id,
                                ["name"]: this.accountsResultPending.name,
                                ["apellidos"]: this.accountsResultPending.apellidos,
                                ["banks"]: this.accountsResultPending.banks
                            }                  
                            this.$.modifyAccountsPending.body = JSON.stringify(bodyData); 
                            this.$.modifyAccountsPending.generateRequest();                           
                        }
                    }
                }
              }
            }    
        }
      }

      modifyAccountsPendingResponse(){
          this.confirmationResult = "Movement confirmed"; 
      }

      obtainDate(){
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth()+1; //January is 0!
        var yyyy = today.getFullYear();

        if(dd<10) {
            dd = '0'+dd
        } 

        if(mm<10) {
            mm = '0'+mm
        } 

        today = dd + '/' + mm + '/' + yyyy;
        return today;
      }

      obtainDocumentUrl(){
       const url = "/documents?id=";
       const name = "Attachment";
       const randomNumber = Math.floor(Math.random() * 10) + 1;
       const extension = ".pdf"       
       return this.serverproxyurl + url + name + randomNumber + extension;
      }

      showPosition() {
            console.log("user position: " + this.latitude +","+this.longitude);             
      }

      transactionsResponse(response) {
          const transactionsResponse = this.$.requestTransactions.lastResponse;
          if(transactionsResponse != null){
              this.transactionsResult = [];
              this.transactionsResult = transactionsResponse;
          }else{
                               
          }          
      }

      deleteTransaction(){
        this.$.deleteTransaction.generateRequest();
      }

      deleteResponse(response){
        const deleteResponse = this.$.deleteTransaction.lastResponse;
        console.log(deleteResponse);
        if(deleteResponse != undefined){
            for(var i=0;i<this.transactionsResult.length;i++){
                if(this.transactionsResult[i]._id == this.selectElement._id){
                    var deletedElemnt = this.transactionsResult.splice(i,1);
                    this.$.grid.clearCache();
                    console.log(this.transactionsResult);
                }
            }
        }        
      }

      _onActiveItemChanged(e) {
          //close details
          this.$.grid.closeItemDetails(this.selectElement);

          //open new details
          if(e != null){      
              console.log(e)      
              this.$.grid.openItemDetails(e.detail.value);
              this.selectElement = e.detail.value;
          }        
        }
     
    }

    window.customElements.define(Transactions.is, Transactions);
  </script>
</dom-module>
