<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">
<title>Accounts</title>

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<link rel="import" href="accounts/techuiapp-bank.html">

<dom-module id="techuiapp-accounts">
  <template>
    <style include="shared-styles">
      :host {
        display: block;
        padding: 10px;
      }

      paper-button {
          background-color:  #4285f4;
          color: white;
      }

      paper-button:hover {
          background-color:  #55f32da8;
          color: black;
      }

      iron-icon{
        --iron-icon-fill-color: white;
      }
    </style>


      <iron-ajax
        auto
        id="requestAccountsPending"            
        url="[[serverurl]]/movimientosPending?id=[[userid]]";
        method="GET"
        handle-as="json"
        on-response="accountsPendingResponse"
        debounce-duration="300">
      </iron-ajax>

      <!-- https://www.webcomponents.org/element/vaadin/vaadin-progress-bar -->

    <div class="card">                 
      <paper-button raised on-tap="sendRequestAccountsPending"><iron-icon icon="icons:refresh"></iron-icon>Refresh</paper-button> 
      <p>{{message}}</p>                        
      <template is="dom-repeat" items="{{accountsResultPending.banks}}" as="bank">
          <techuiapp-bank serverurl="[[serverurl]]" serverproxyurl="[[serverproxyurl]]" bank="{{bank}}"></techuiapp-bank>
        </template>
    </div>

    
  </template>

  <script>
    class Accounts extends Polymer.Element {
      static get is() { return 'techuiapp-accounts'; }

      static get properties() {
        return {
            serverurl: {
                type: String
            },
            serverproxyurl: {
                type: String
            },
            accountsResultPending: {
                type: Object
            },
            userid: {
                type: String,
                value: ''
            },
            message: {
                type: String,
                value: ''
            }

          }                    
      }


      sendRequestAccountsPending (){
        //accounts request          
        //console.log("request pending user: " + this.userid) 
        this.$.requestAccountsPending.generateRequest();
      }


      accountsPendingResponse(response) {
          const accountsResponse = this.$.requestAccountsPending.lastResponse;
          //console.log("Login result: " + loginResponse);
          if(accountsResponse[0] != null){
              this.accountsResultPending = accountsResponse[0]; 
              this.message = "";
              //console.log(this.accountsResultPending);
             // console.log("banks: " + this.accountsResultPending.banks);
              //console.log("id: " + this.accountsResultPending.id);
          }else{
              this.message = "There is no banks info associated with your account";                 
          }          
      }      
    }

    window.customElements.define(Accounts.is, Accounts);
  </script>
</dom-module>
