<!DOCTYPE html>
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">
<title>Register</title>

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="shared-styles.html">


<dom-module id="techuiapp-register">
    <template>
        <iron-ajax
            id="requestRegister"            
            url="[[serverurl]]/register";
            method="POST"
            body='{"name":"{{username}}", "surname":"{{surname}}", "email":"{{email}}", "password":"{{password}}"}'
            handle-as="json"
            content-type="application/json"
            on-response="registerResponse"
            debounce-duration="300"></iron-ajax>

        <style include="shared-styles">
                :host {
                    display: block;            
                    padding: 40px;
                    padding-top: 20px;
                    padding-bottom: 50px;
                }

                paper-input-error {
                    bottom: 20px !important;
                }

                paper-button {
                    background-color:  #4285f4;
                    color: white;
                }

                paper-button:hover {
                    background-color:  #55f32da8;
                    color: black;
                }

                iron-icon{
                    --iron-icon-fill-color: white;
                }
        </style>

        <div class="card">
            <paper-dialog id="dialogRegister">
                <section>
                    <h2>Register</h2>   
                    <match-passwords-validator id="match-passwords-validator" password="[[password]]"></match-passwords-validator>

                    <paper-input label="Name" type="text" required="true" 
                        id="name" name="name" tabindex="-1" value="{{username::input}}">                         
                    </paper-input>
                    <paper-input label="Surname" type="text" required="true" 
                        id="surname" name="surname" tabindex="-1" value="{{surname::input}}">                         
                    </paper-input>    
                    <paper-input label="Email" type="email" required="true" 
                        id="email" name="email" tabindex="-1" value="{{email::input}}">                         
                    </paper-input>                    
                    <paper-password-input label="Password" type="password" name="password" id="password" tabindex="-1" 
                        required="true" value="{{password::input}}">
                    </paper-password-input>
                    <paper-password-input id="passwordConfirmation" type="password" label="Password Confirmation"  name="passwordConfirmation" tabindex="-1" 
                        validator="match-passwords-validator" required="true" value="{{passwordConfirmation::input}}" required="true">
                    </paper-password-input>
                    <div class="buttons">
                        <paper-button raised on-tap="sendRegister"><iron-icon icon="check"></iron-icon>Register</paper-button>
                        <paper-button raised on-tap="login"><iron-icon icon="icons:account-box"></iron-icon>Login Page</paper-button>                   
                    </div>
                    <h3>[[registerResult]]</h3>
                </section>
            </paper-dialog>
        </div>
    </template>



    <script>
        /**
         * @customElement
         * @polymer
         */
        class RegisterElement extends Polymer.Element {
            static get is() { return 'techuiapp-register'; }

            static get properties() {
                return {
                    serverurl: {
                        type: String
                    },
                    email: {
                        type: String,
                        value: ''
                    },
                    password: {
                        type: String,
                        value: ''
                    },
                    passwordConfirmation: {
                        type: String,
                        value: ''
                    },
                    username: {
                        type: String,
                        value: ''
                    },
                    surname: {
                        type: String,
                        value: ''
                    },                    
                    registerResult: {
                        type: String,
                        value: ''
                    }
                };
            }           

            sendRegister (){
                //register request
                if((this.$.name.validate()) && this.$.surname.validate() &&
                      this.$.email.validate() && this.$.password.validate() && this.$.passwordConfirmation.validate()){    
                    this.$.requestRegister.generateRequest();
                }
            }

            login (){
                window.dispatchEvent(new CustomEvent('pageRequestEvent', {detail: {page: 'login'}})); 
            }

            registerResponse() {
                const registerResponse = this.$.requestRegister.lastResponse;
                //console.log("Register result: " + registerResponse);
                if(registerResponse != null){
                   this.registerResult = "Register done"; 
                   console.log("Register response message: " + registerResponse.message);
                   if(registerResponse.status > 0){
                      this.registerResult = "Register done"; 
                      this.username = '';
                      this.surname = '';
                      this.password = '';
                      this.passwordConfirmation = '';
                      this.email = '';
                   }else{
                    this.registerResult = registerResponse.message;
                   }
                }else{
                   this.registerResult = "Register error";
                }
            }
        }

        window.customElements.define(RegisterElement.is, RegisterElement);
    </script>
</dom-module>
