<!DOCTYPE html>
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">
<title>Transaction</title>

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/vaadin-combo-box/vaadin-combo-box.html">
<link rel="import" href="shared-styles.html">


<dom-module id="techuiapp-transaction">
    <template>
        <iron-ajax
            id="postTransaction"            
            url="[[serverurl]]/movimientos";
            method="POST"
            body='{"id":"{{userid}}", "bank":"{{bank}}", "account":"{{account}}", "product":"{{product}}", "productdescription":"{{productDescription}}", "amount":"{{amount}}", "currency":"{{currency}}", "description":"{{details}}"}'
            handle-as="json"
            content-type="application/json"
            on-response="registerResponse"
            debounce-duration="300"></iron-ajax>

          <iron-ajax
            auto
            id="requestAccountsPending"            
            url="[[serverurl]]/movimientosPending?id=[[userid]]";
            method="GET"
            handle-as="json"
            on-response="accountsPendingResponse"
            debounce-duration="300">
          </iron-ajax>

        <style include="shared-styles">
                :host {
                    display: block;            
                    padding: 40px;
                    padding-top: 20px;
                    padding-bottom: 50px;
                }

                paper-input-error {
                    bottom: 20px !important;
                }

                paper-button {
                    background-color:  #4285f4;
                    color: white;
                }

                paper-button:hover {
                    background-color:  #55f32da8;
                    color: black;
                }

                iron-icon{
                    --iron-icon-fill-color: white;
                }
        </style>

        <div class="card">
            <paper-dialog id="dialogRegister">
                <section>
                    <h2>Add Transaction</h2>   

                    <vaadin-combo-box id="banksCombo" placeholder="Bank" item-value-path="name" item-label-path="name" on-selected-item-changed="bankChange" required error-message="This field is required"></vaadin-combo-box>
                    <vaadin-combo-box id="accountsCombo" placeholder="Account" item-value-path="id" item-label-path="id" on-selected-item-changed="accountsChange" required error-message="This field is required"></vaadin-combo-box>
                    <vaadin-combo-box id="productsCombo" placeholder="Product"  item-value-path="id" item-label-path="description" required error-message="This field is required"></vaadin-combo-box>

                    <paper-input label="Amount" type="number" required="true" 
                        id="amount" name="amount" tabindex="-1" value="{{amount::input}}">                         
                    </paper-input>

                    <vaadin-combo-box id="currencyCombo" placeholder="Currency" items="[[currencyList]]"></vaadin-combo-box>

                    <paper-input label="Details" type="text" required="true" 
                        id="details" name="details" tabindex="-1" value="{{details::input}}">                         
                    </paper-input>    
               
                    <div class="buttons">
                        <paper-button raised on-tap="saveTransaction"><iron-icon icon="icons:save"></iron-icon>Save</paper-button>
                    </div>

                    <h3>{{registerResult}}</h3>
                </section>
            </paper-dialog>
        </div>
    </template>



    <script>
            
        /**
         * @customElement
         * @polymer
         */
        class Transaction extends Polymer.Element {
            static get is() { return 'techuiapp-transaction'; }

            static get properties() {
                return {
                    serverurl: {
                        type: String
                    },
                    bank: {
                        type: String
                    },
                    account: {
                        type: String
                    },
                    product: {
                        type: String
                    },
                    productDescription: {
                        type: String
                    },
                    amount: {
                        type: Number,
                        value: ''
                    },
                    currencyList: {
                        type: Array,
                        value: ["€","$","£"]
                    },
                    accountsResultPending: {
                        type: Object
                    },
                    registerResult:{
                        type: String,
                        value: ""
                    }
                };
            }         
            
            
            sendRequestAccountsPending (){
                //accounts request          
                //console.log("request pending user: " + this.userid) 
                this.$.requestAccountsPending.generateRequest();
            }


            accountsPendingResponse(response) {
                const accountsResponse = this.$.requestAccountsPending.lastResponse;
                //console.log("Login result: " + loginResponse);
                if(accountsResponse[0] != null){
                    this.accountsResultPending = accountsResponse[0]; 
                    this.message = "";
                   // console.log(this.accountsResultPending);
                   // console.log("banks: " + this.accountsResultPending.banks);
                   // console.log("id: " + this.accountsResultPending.id);
                }else{
                    this.message = "There is no banks info associated with your account";                 
                }      
                

                //load data and select the first one as default
                this.$.banksCombo.items = this.accountsResultPending.banks;
                this.$.banksCombo.selectedItem = this.accountsResultPending.banks[0];
            } 

            saveTransaction (){
                this.registerResult = "";
                //register request
                if(this.$.amount.validate() && this.$.details.validate() && this.$.banksCombo.validate() && 
                        this.$.accountsCombo.validate() && this.$.productsCombo.validate()){ 
                    this.bank = this.$.banksCombo.selectedItem.name;         
                    this.account = this.$.accountsCombo.selectedItem.id;         
                    this.product = this.$.productsCombo.selectedItem.id;  
                    this.currency = this.$.currencyCombo.selectedItem;  
                    this.productDescription = this.$.productsCombo.selectedItem.description;                             
                    this.$.postTransaction.generateRequest();
                }
            }

            registerResponse() {
                const registerResponse = this.$.postTransaction.lastResponse;
                //console.log("Register result: " + registerResponse);
                if(registerResponse != null){
                   this.registerResult = "Transaction created"; 
                   console.log("Register response message: ");                  
                   console.log(registerResponse);                  
                }else{
                   this.registerResult = "Register error";
                }          
            }

            //if the bank changes, load his products and accounts
            bankChange(e){
               const bank = e.detail.value;
               //console.log(bank);
               if (bank != null){
                this.$.accountsCombo.items = bank.accounts;
                this.$.accountsCombo.selectedItem = bank.accounts[0];

                this.$.productsCombo.items = bank.accounts[0].products;
                this.$.productsCombo.selectedItem = bank.accounts[0].products[0];
               }else{
                this.$.accountsCombo.items = [];
                this.$.productsCombo.items = [];
               }
            }

            //if the accounts changes, load his products
            accountsChange(e){
               const account = e.detail.value;
               if(account != null){
                this.$.productsCombo.items = account.products;
                this.$.productsCombo.selectedItem = account.products[0];  
               }else{
                this.$.productsCombo.items = [];
               }
            }

            

        }

        window.customElements.define(Transaction.is, Transaction);
    </script>
</dom-module>
