

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="techuiapp-landing">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }

      img {
          vertical-align: middle;
          align-content: center;
      }
    </style>

    <div class="card">
      <img src="../images/manifest/icon-256x256.png"></img>
      <p>All your banking data is available in a single space!, this makes easier to consult information and operations of all kinds.</p>
      <p>With this app you can monitor all your bank data, create transactions and use them as many times you want.</p>
      <p>Do not forget to check your accounts alerts!</p>
    </div>
  </template>

  <script>
    class Landing extends Polymer.Element {
      static get is() { return 'techuiapp-landing'; }
    }

    window.customElements.define(Landing.is, Landing);
  </script>
</dom-module>
