<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<!--<link rel="import" href="techuiapp-icons.html">-->


<link rel="lazy-import" href="techuiapp-login.html">
<link rel="lazy-import" href="techuiapp-register.html">
<link rel="lazy-import" href="techuiapp-landing.html">
<link rel="lazy-import" href="techuiapp-accounts.html">
<link rel="lazy-import" href="techuiapp-transaction.html">
<link rel="lazy-import" href="techuiapp-transactions.html">
<link rel="lazy-import" href="techuiapp-view404.html">

<dom-module id="techui-app">
  <template>
    <style>
      :host {
        --app-primary-color: #4285f4;
        --app-secondary-color: black;

        display: block;
      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .main-title{
        padding: 0 16px;
        display: block;
        text-decoration: black;
        font-size: 22px;
      }

      .drawer-list {
        margin: 0 20px;
      }

      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }

      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }

      .iron-selected {
        background: #4789f5a8;
      }

      img {
          vertical-align: middle;
          align-content: center;
      }
    </style>


    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>

    <app-drawer-layout fullbleed narrow="{{narrow}}">
      <!-- Drawer content -->
        <app-drawer id="drawer" slot="drawer" swipe-open="[[narrow]]" hidden$="{{!isLogged}}">
          <app-toolbar>Menu</app-toolbar>
          <iron-selector selected="[[page]]" attr-for-selected="name" class="drawer-list" role="navigation">
            <a name="login" href="[[rootPath]]login">Login</a>
            <a name="register" href="[[rootPath]]register">Register</a>
            <a name="landing" href="[[rootPath]]landing">Welcome</a>
            <a name="accounts" href="[[rootPath]]accounts">Banks</a>
            <a name="transactions" href="[[rootPath]]transactions">Movements</a>
            <a name="transaction" href="[[rootPath]]transaction">Add Transaction</a>
          </iron-selector>
        </app-drawer>

      <!-- Main content -->
      <app-header-layout has-scrolling-region>
        <app-header slot="header" condenses reveals effects="waterfall">
          <table style="width:100%">
            <tr>
                <td>
              <app-toolbar>
                <paper-icon-button icon="icons:menu" drawer-toggle></paper-icon-button>
                <div main-title class="main-title">
                  <img src="../images/manifest/icon-48x48.png"></img>
                  &nbsp;Banks Aggregator</div>
              </app-toolbar>
                </td>                    
                <td hidden$="{{!isLogged}}" align="right">
                  <iron-icon icon="icons:supervisor-account"></iron-icon><span>Welcome: [[name]]</span>
                  <paper-button on-tap="logout">Logout<iron-icon icon="icons:exit-to-app"></iron-icon></paper-button>             
                </td>             
            </tr>
         </table>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="view404"
            role="main">
          <techuiapp-login name="login" serverurl="[[serverurl]]"></techuiapp-login>
          <techuiapp-register name="register" serverurl="[[serverurl]]"></techuiapp-register>
          <techuiapp-landing name="landing"></techuiapp-landing>
          <techuiapp-accounts id="accounts" name="accounts" userid="[[userid]]" serverurl="[[serverurl]]" serverproxyurl="[[serverproxyurl]]"></techuiapp-accounts>
          <techuiapp-transactions id="transactions" name="transactions" userid="[[userid]]" serverurl="[[serverurl]]" serverproxyurl="[[serverproxyurl]]"></techuiapp-transactions>          
          <techuiapp-transaction id="transaction" name="transaction" userid="[[userid]]" serverurl="[[serverurl]]"></techuiapp-transaction> 
          <techuiapp-view404 name="view404"></techuiapp-view404>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>
  </template>

  <script>
    const loginPage = 'login';
    const registerPage = 'register';
    const defaultPage = 'landing';
    const errorPage = 'view404';
    const appPageName = 'techuiapp-';

    class TechUIApp extends Polymer.Element {

      static get is() { return 'techui-app'; }

      static get properties() {
        return {
          page: {
            type: String,
            reflectToAttribute: true,
            observer: '_pageChanged',
          },
          routeData: Object,
          subroute: String,
          rootPath: String,
          name: {
            type: String
          },
          userid: {
            type: String
          },
          isLogged: {
            type: Boolean,
            value: false
          },
          serverurl:{
            type: String,
            value: "http://192.168.99.100:3000"
          },
          serverproxyurl:{
            type: String,
            value: "http://192.168.99.100:3001"
          }
        };
      }

      static get observers() {
        return [
          '_routePageChanged(routeData.page)',
        ];
      }

      constructor() {
        super();
        this._userLoggedListener = this.userLoggedStatusChanged.bind(this);
        this._pageRequestListener = this.pageRequest.bind(this);
      }

      connectedCallback() {
        super.connectedCallback();
        window.addEventListener('loginEvent', this._userLoggedListener);
        window.addEventListener('pageRequestEvent', this._pageRequestListener);
      }

      disconnectedCallback() {
        super.disconnectedCallback();
        window.removeEventListener('loginEvent', this._userLoggedListener);
        window.removeEventListener('pageRequestEvent', this._pageRequestListener);
      }

      _routePageChanged(page) {    
        console.log("_routePageChanged " + page);           
        //check user login status, only login and register pages are available without login
        if(!this.isLogged && page != loginPage && page != registerPage){
          //console.log("user is not logged, not allow to navigate to " + page + " redirect to " + loginPage);
          this.page = loginPage;
        }else{          
        // If no page was found in the route data, page will be an empty string.
        // Default to 'landing' in that case.
          this.page = page || defaultPage;        

        // Close a non-persistent drawer when the page & route are changed.
        if (!this.$.drawer.persistent) {
          this.$.drawer.close();
        }
      }
      }

      _pageChanged(page) {
        console.log("_pageChanged " + page); 
        //console.log("route: " + this.route + " rootPath: " + this.rootPath
        //          +" routeData: " +this.routeData +" subroute: " + this.subroute + " page: " + this.page);        
        console.log("name: " + this.name + " id: " + this.userid);                
        // Load page import on demand. Show 404 page if fails
        var resolvedPageUrl = this.resolveUrl(appPageName + page + '.html');
        Polymer.importHref(
            resolvedPageUrl,
            null,
            this._showPage404.bind(this),
            true);
        
      }

      _showPage404() {
        this.page = errorPage;
      }

      userLoggedStatusChanged(newLoginStatus){
        //console.log(newLoginStatus.detail.logged);
          //check user logged status
          this.isLogged = newLoginStatus.detail.logged;
          //console.log("user logged status changed to " + this.isLogged);
          if(this.isLogged){
            this.name = newLoginStatus.detail.name;
            this.userid = newLoginStatus.detail.id;
            this.set('route.path', '/'+defaultPage);
          }
      }

      pageRequest(pageRequestEvent){
        //page change request received
        console.log("page change request received to: " + pageRequestEvent.detail.page);
        //redirect to requested page
        this.set('route.path', '/'+pageRequestEvent.detail.page);
      }

      logout(){
        this.isLogged = false;
        this.set('route.path', '/'+loginPage);
        this.$.accounts.accountsResultPending = {};
        this.name = "";
        this.userid = "";
        window.location.href = '/'+loginPage;
      }

    }    

    window.customElements.define(TechUIApp.is, TechUIApp);



  </script>
</dom-module>
