<!DOCTYPE html>
<meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">
<meta charset="utf-8">
<title>Login</title>

<link rel="import" href="/bower_components/polymer/polymer-element.html">
<link rel="import" href="/bower_components/paper-password-input/paper-password-input.html">
<link rel="import" href="/bower_components/paper-password-input/match-passwords-validator.html">
<link rel="import" href="/bower_components/iron-localstorage/iron-localstorage.html">
<link rel="import" href="/bower_components/paper-input/paper-input-container.html">
<link rel="import" href="/bower_components/paper-input/paper-input-error.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-styles/paper-styles.html">
<link rel="import" href="/bower_components/iron-icon/iron-icon.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">


<dom-module id="techuiapp-login">
    <template>

        <iron-ajax
            id="requestLogin"            
            url="[[serverurl]]/login";
            method="POST"
            body='{"email":"{{email}}", "password":"{{password}}"}'
            handle-as="json"
            content-type="application/json"
            on-response="loginResponse"
            debounce-duration="300"></iron-ajax>

        <style include="shared-styles">
                :host {
                    display: block;            
                    padding: 40px;
                    padding-top: 20px;
                    padding-bottom: 50px;
                }   

                paper-button {
                    background-color:  #4285f4;
                    color: white;
                }

                paper-button:hover {
                    background-color:  #55f32da8;
                    color: black;
                }

                iron-icon{
                    --iron-icon-fill-color: white;
                }            
        </style>

        <div class="card">
            <paper-dialog id="dialogLogin">
                <section>
                    <h2>Login</h2>    
                    <paper-input label="email" type="email" required="true" 
                        id="email" name="email" tabindex="-1"  value="{{email::input}}">                         
                    </paper-input>                    
                    <paper-password-input required="true" id="password" label="Password"  name="password" tabindex="-1" 
                         value="{{password::input}}">
                    </paper-password-input>
                    <div class="buttons">
                        <paper-button raised on-tap="sendLogin"><iron-icon icon="check"></iron-icon>Login</paper-button>
                        <paper-button raised on-tap="register"><iron-icon icon="icons:account-box"></iron-icon>Register</paper-button>                   
                    </div>
                    <h2>[[loginResult]]</h2>
                </section>
            </paper-dialog>
        </div>
    </template>



    <script>
        /**
         * @customElement
         * @polymer
         */
        class LoginElement extends Polymer.Element {
            static get is() { return 'techuiapp-login'; }

            static get properties() {
                return {
                    serverurl: {
                        type: String
                    },
                    email: {
                        type: String,
                        value: ''
                    },
                    password: {
                        type: String,
                        value: ''
                    },
                    emailResult: {
                        type: String,
                        value: ''
                    },
                    nameResult: {
                        type: String,
                        value: ''
                    },
                    surnameResult: {
                        type: String,
                        value: ''
                    },
                    roleResult: {
                        type: String,
                        value: ''
                    },
                    loginResult: {
                        type: String,
                        value: ''
                    },
                    isLoggedResult: {
                        type: Boolean,
                        value: false
                    }
                };
            }           

            sendLogin (){
                //login request
                if((this.$.email.validate()) && this.$.password.validate()){                
                   this.$.requestLogin.generateRequest();
                }
            }

            register (){
                //request page redirect
                window.dispatchEvent(new CustomEvent('pageRequestEvent', {detail: {page: 'register'}}));
            }

            loginResponse(response) {
                const loginResponse = this.$.requestLogin.lastResponse;
                //console.log("Login result: " + loginResponse);
                if(loginResponse != null){
                   this.loginResult = ""; 
                   this.emailResult = loginResponse.email;
                   this.nameResult = loginResponse.name;
                   this.surnameResult = loginResponse.surname;
                   this.roleResult = loginResponse.role;
                   this.isLoggedResult = true; 
                   //this.email = '';  
                   //this.password = '';  
                }else{
                   this.loginResult = "Invalid email/password";
                   this.emailResult = '';
                   this.nameResult = '';
                   this.surnameResult = '';
                   this.roleResult = '';
                   this.isLoggedResult = false;                   
                }
                window.dispatchEvent(new CustomEvent('loginEvent', {detail: {logged: this.isLoggedResult,id:this.emailResult,name:this.nameResult}}));
            }
        }

        window.customElements.define(LoginElement.is, LoginElement);
    </script>
</dom-module>
